.text-container {
  width: 100%;
  max-width: 600px;
  padding: 3rem 1rem 0 1rem;
  background: #fff;
  margin: auto;

  h2 {
    text-align: center;
  }

  .line {
    width: 80px;
    height: 5px;
    margin: 3rem auto;
    background: #fc9c75;
  }

  form {
    width: 100%;
    margin: auto;
    max-width: 600px;
    padding-bottom: 2rem;

    label {
      display: block;

      span {
        color: red;
      }
    }

    input,
    select,
    textarea {
      width: 100%;
      display: block;
      margin: 1rem 0;
      outline: none;
      padding: 12px;
      font-size: 17px;
      border: 1px solid #eee;
      border-radius: 4px;
      font-family: "Poppins", sans-serif;
      &::placeholder {
        font-family: "Poppins", sans-serif;
      }
    }
    textarea {
      height: 250px;
      resize: none;
    }
    input[type="submit"] {
      width: 50%;
      color: #fff;
      cursor: pointer;
      background: #fc9c75;
    }
  }

  .text-content {
    color: #555;
    margin: 2rem 0;
    border-bottom: 1px solid #eee;

    h3 {
      margin-bottom: 1rem;
    }

    p {
      line-height: 2;
      margin-bottom: 2rem;

      span {
        display: block;
        margin-top: 1rem;

        &.red {
          display: inline;
          color: red;
        }
      }

      &.underline {
        margin: 1rem 0 0 0;
        font-weight: bold;
        text-decoration: underline;
      }
    }

    &.border-bottom-none {
      border-bottom: none;
      p {
        margin-bottom: 0;
      }
    }

    ul {
      margin-left: 1rem;
    }
  }
}
